
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body 
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.container
{
         max-width: 700px;
        width: 100%;
        padding: 25px 30px;
        border-radius: 5px;
        margin-bottom: 40px;
        box-shadow: 2px 2px 5px 2px lightgrey;

}
.container h1
{
    font-size: 2em;
    font-weight: 500;
    position: relative;
    text-align: center;
}
#table
{
    margin: auto;
    border-color: lightgrey;
}
tr:nth-child(odd) 
{
    background-color: #dfe9ed;
    color: darkblue;
}
tr:nth-child(even) 
{
    background-color: #f5d9d3;
    color: black;
}
    
td
{
    
    padding: 10px;
    padding-right: 60px;
}

tr:nth-child(odd):hover
{
    background-color: #9699ec;
    cursor: pointer;
}
tr:nth-child(even):hover
{
    background-color: #e785c7;
    cursor: pointer;
}